<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Virtual Kitchen</title>
    <link rel="icon" th:href="@{/images/tab.png}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

    <meta name="viewpoint" content="width=device-width,
          initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"></script>
</head>

<body style="background-color: #fff2CC;">
<!--<h1><span th:text="${username}"></span></h1>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img class="popup-icons" style="width: 30px; height: 35px; margin-right: -55px;" th:src="@{/images/transparent.png}"/>
    <a class="navbar-brand" href="./recipes.html" style="color: white">VirtualKitchen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/recipes}" style="color: white">Kitchens <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/basket}" style="color: white">Basket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/showOrders}" style="color: white">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/about}" style="color: white">About us</a>
            </li>

        </ul>
    </div>
    <div>
        <a class="btn btn-warning" style="position: relative; right: 10px;" href="/logout"> Logout </a>

        <!--        <?php-->
        <!--              if (isset($_SESSION['ID'])){-->
        <!--              echo $_SESSION['ID'];-->
        <!--        ?>-->
        <!--        <a href="./logout.php" class="btn btn-warning"-->
        <!--           style="position: relative; right: 10px;"-->
        <!--        >-->
        <!--            Logout-->
        <!--        </a>-->
        <!--        <?php-->
        <!--            } else{-->
        <!--        ?>-->

        <!--        <a href="./index.html" class="btn btn-warning"-->
        <!--           style="position: relative; right: 10px;"-->
        <!--        >-->
        <!--            Login-->
        <!--        </a>-->
        <!--        <?php } ?>-->
    </div>
</nav>

<div id="box-element5" class="header5 white">
    <p style="font-size: 15px!important">
    <h2 class="white">About VirtualKitchen </h2>
    <img class="popup-icons" th:src="@{/images/transparent.png}"/>
    <hr style="height:2px; width:100%; border-width:2; color:white; background-color:white; opacity:100%; border-radius: 2px;">
        For many university students, their first year of university is the first time they are having to live alone, and because of this many of them lack self-sustainability. There are many aspects we could look at, but for this project we are specifically going to focus on encouraging students to become for self-sustainable in planning their meals. In England, approximately 50% of the youth population (between ages 17-30) attend a higher education institution. According to the National Union of Students 20% of students live at home until they go off to pursue their undergraduate degrees. This means that many students, during their undergraduate degrees, are living away from home, and for many of them, that is the first time they will experience living alone.

        Since majority of students live at home until they begin their degrees, most of them are accustomed to their parents/guardians managing the essential tasks in their life. One of those essential tasks being cooking their meals for them.

        Many university students, during their first year, gain weight. This is what people often call ‘Freshman 15’, which is a reference to the perception that most students gain roughly 6.8kg when they start university. Evidence also shows that weight that is gained during a person’s adolescence is highly correlated to them becoming overweight and obese during their adulthood.
    </p>
</div>

<h3 style="font-size: 10px; text-align: center; bottom: 10px; position: absolute; margin-left: 45%;">© Virtual Kitchen </h3>

</body>
</html>