<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Virtual Kitchen</title>
  <link rel="icon" th:href="@{/images/tab.png}">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

  <meta name="viewpoint" content="width=device-width,
          initial-scale=1, maximum-scale=1, minimum-scale=1" />

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script type="text/javascript"></script>
</head>
<body style="background-color: #fff2CC;">
<!--<h1><span th:text="${username}"></span></h1>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img class="popup-icons" style="width: 30px; height: 35px; margin-right: -55px;" th:src="@{/images/transparent.png}"/>
  <a class="navbar-brand" href="./recipes.html" style="color: white">VirtualKitchen</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/recipes}" style="color: white">Kitchens <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/basket}" style="color: white">Basket</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/showOrders}" style="color: white">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/about}" style="color: white">About us</a>
      </li>

    </ul>
  </div>
  <div>
    <a class="btn btn-warning" style="position: relative; right: 10px;" href="/logout"> Logout </a>

    <!--        <?php-->
    <!--              if (isset($_SESSION['ID'])){-->
    <!--              echo $_SESSION['ID'];-->
    <!--        ?>-->
    <!--        <a href="./logout.php" class="btn btn-warning"-->
    <!--           style="position: relative; right: 10px;"-->
    <!--        >-->
    <!--            Logout-->
    <!--        </a>-->
    <!--        <?php-->
    <!--            } else{-->
    <!--        ?>-->

    <!--        <a href="./index.html" class="btn btn-warning"-->
    <!--           style="position: relative; right: 10px;"-->
    <!--        >-->
    <!--            Login-->
    <!--        </a>-->
    <!--        <?php } ?>-->
  </div>
</nav>
<h1 class="hello-user" style="font-size: 24px">Hello, <span class="white" style="text-transform: capitalize;" th:text="${username}"></span></h1>
<br>
<div>



  <div th:if="${ not#lists.isEmpty(orders)}" id="box-element2" class="header2">
    <h1 style="color: white"> Your Orders </h1>
    <hr style="height:2px; width:100%; border-width:2; color:white; background-color:white; opacity:100%; border-radius: 2px;">


    <div th:each="order : ${orders}">

      <div th:each="orderItem : ${order.orderItems}">

        <h3 style="color: white"><span class="white" style="float: left"></span><span class="white" style="float: left" th:text="${order.order_id}"></span><span class="white" th:text="${orderItem.quantity}"></span> x <span class="white" style="text-transform: capitalize;" th:text="${orderItem.recipeTitle}"></span> From  <span class="white" th:text="${orderItem.kitchenName}"></span></h3>

      </div>



    </div>

  </div>

</div>
<h3 style="font-size: 10px; position: absolute; bottom: 10px; left: 45%;">© Virtual Kitchen </h3>

</body>
</html>